.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 45px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  transition: width 0.1s ease;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media(max-width: 1323px) {
    width: 200px;
  }

  @media(max-width: 1058px) {
    position: absolute;
    left: 0;
    top: -20px;
  }

  @media(max-width: 645px) {
    position: static;
    margin-bottom: 20px;
    margin-left: 250px;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 15px;
  top: 10px;

  @media(max-width: 1323px) {
    display: none;
  }
}

.clearicon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 14px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}